<body>

<div class="container bg">
  <div class="row">
    <div class="center col-sm-12">
      <img src="/public/assets/css/img/burger.jpeg" alt="Burger">
        <h1>Eat Da Burger!</h1>
        <hr>
    </div>
  </div>

  <div class="row">All You Can Eat! To keep track of the burgers eaten, please click on the burger to move it to the DEVOURED column 
    <hr>
  </div>
  
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">
      <form>
        <p>
          <label id="textLabel" for="burger">Burger Name</label>
          <input type="text" name="burger" id="burger">
        </p>
      </form>
    </div>
    <div class="col-sm-2">

    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h4>Burgers that need to be DEVOURED</h4>
    {{#each burgers}}
    {{#unless this.devoured}}
    <p class="isHere" data-id="{{this.id}}">{{ this.burger_name }}</p>
    {{/unless}}
    {{/each}}
  </div>
  <div class="col-md-6">
    <h4>Burgers that have been DEVOURED</h4>
    {{#each burgers}}
    {{#if this.devoured}}
    <p class="delete" data-id="{{this.id}}">{{ this.burger_name }}</p>
    {{/if}}
    {{/each}}
  </div>
</div>


</body>






