<h1>Eat Da Burger!</h1>

<div class="container">
  <div class="row">
    <form>
      <p>
        <label for="name">Burger Name</label>
        <input type="text" name="name" id="name">
      </p>
      <p>
        <button id="addBurger">Add Burger</button>
      </p>
    </form>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Uneaten</h4>
      {{#each burgers}}
      {{#unless this.devoured}}
      <p class="isHere" data-id="{{this.id}}">{{ this.burger_name }}</p>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-md-6">
      <h4>Eaten</h4>
      {{#each burgers}}
      {{#if this.devoured}}
      <p class="delete" data-id="{{this.id}}">{{ this.burger_name }}</p>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>