<body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
  </style>
  <h1 class="title text-center">Eat-Da-Burger</h1>

  <div class="container">
    <div class="row">
      <div class="burger-title text-center">Burger Name</div>
      <form>
        <input type="text" id="enter-burger" name="burger_name" class="form-control">
      </form>
      <button id="addBurger">Add Burger</button>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-6">
        <h2 class="title-wait text-center">Waiting to be Devoured!</h2>
        {{#each burgers}}
        {{#unless this.devoured}}
        <div class="card">
          <div class="card-body">
            <p>
              {{this.burger_name}}
              <button data-id="{{this.id}}" type="button" class="devour" style="float:right">Devour
                DaBurger!</button>
            </p>
          </div>
        </div>
        {{/unless}}
        {{/each}}
      </div>
      <div class="col-md-6">
        <h4 class="burger-title text-center">Devoured!</h4>
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="card">
          <div class="card-body">
            <p data-id="{{this.id}}"> {{this.burger_name}}</p>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>

</body>