body {
  background-image: url("../img/buger2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Indie Flower', cursive;
  font-size: large;
  font-weight: 200;
}

form {
  margin-left: 50px;
}

.title {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #000000;
  padding: 20px;
}

.burger-title {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #000000;
  background-color: white;
}

.title-wait {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #000000;
  background-color: white;
}

.container {
  padding: 10px;
}

#addBurger {
  font-family: 'Indie Flower', cursive;
  float: right;
}

button {
  background-color: palevioletred;
  color: white;
  font-family: 'Indie Flower', cursive;
  float: right;
  border: none;
}